@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

:root {
  --background: #;
  --background-hover: #;
  --text: #;
  --blue-color: #;
  --blue-color-hover: #;
  --red-color: #;
  --red-color-hover: #;
  --green-color: #;
  --green-color-hover: #;
  --green-2-color: #;
  --yellow-color: #;
  --input-background: #;
  --button-text: #;
  --tr-line: #;
  --text-muted: #;
}

body {
  background-color: var(--background);
  overflow-x: hidden !important;
}

/*
Validations
*/

.error {
  font-family: 'Inter', sans-serif;
  color: red;
  font-weight: 300;
}

/*
Navbar
*/

nav {
  background-color: var(--background);
}

.nav-link {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-weight: 300;
}

.nav-link:hover {
  background-color: var(--background-hover);
  border-radius: 2px;
  color: var(--background);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.custom-btn-blue {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
  border: 0;
  border-radius: 2px;
  width: 180px;
  height: 50px;
  transition: all 0.2s;
  font-family: 'Inter', sans-serif;
  color: var(--blue-color-hover);
}

.custom-btn-blue:hover {
  background-color: var(--blue-color-hover);
  color: var(--blue-color);
}

.btn-primary {
  color: var(--blue-color-hover) !important;
  border: 0 !important;
}

.btn-primary:hover {
  background-color: var(--blue-color-hover);
  color: var(--blue-color) !important;
}

.custom-btn-red {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  border: 0;
  border-radius: 2px;
  width: 180px;
  height: 50px;
  transition: all 0.2s;
  font-family: 'Inter', sans-serif;
  color: var(--red-color-hover);
}

.custom-btn-red:hover {
  background-color: var(--red-color-hover);
  color: var(--red-color);
}

#btnCreationDate {
  cursor: pointer;
}

.custom-btn-green {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--green-color);
  border: 0;
  border-radius: 2px;
  width: 180px;
  height: 50px;
  transition: all 0.2s;
  font-family: 'Inter', sans-serif;
  color: var(--green-color-hover);
}

.custom-btn-green:hover {
  background-color: var(--green-color-hover);
  color: var(--green-color);
}

.btn-primary {
  font-family: 'Inter', sans-serif;
  padding: 10px 25px 10px 25px;
  background-color: var(--blue-color);
  color: var(--blue-color-hover);
  border-radius: 2px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.btn-primary:hover {
  background-color: var(--blue-color-hover);
  color: var(--blue-color) !important;
}

/*
Form Controls
*/

.form-label {
  font-family: 'Inter', sans-serif;
  color: var(--text);
  font-weight: 300;
}

.form-control {
  background-color: var(--input-background);
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 2px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.form-control:focus {
  background-color: var(--input-background);
  border: 0;
  border-radius: 2px;
  color: var(--text);
}

.form-control:read-only {
  background-color: var(--input-background);
  border: 0;
  padding: 8px;
  border-radius: 2px;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.input-group-text {
  background-color: var(--input-background);
  border: 1px solid transparent;
  padding: 8px;
  border-radius: 24px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: var(--text);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

/*
Sweet alert
*/

.swal2-popup {
  background-color: var(--background) !important;
  border-radius: 24px !important;
  color: var(--text);
  font-family: 'Inter', sans-serif !important;
  text-align: center;
}

.swal2-title {
  color: var(--text) !important;
}

/*
  GitHub Page
*/

.img-container {
  background-color: var(--input-background);
  border-radius: 2px;
  padding: 10px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  height: 220px;
  width: 220px;
}

.repository-block {
  background-color: var(--input-background);
  border-radius: 2px;
  padding: 20px;
  height: 150px;
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.11);
}

.title {
  font-family: 'Inter', sans-serif;
  font-size: 34px;
  color: var(--text);
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.github-name {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  color: var(--text);
}

.custom-text-normal {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: var(--text) !important;
}

.custom-text-mutted {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: var(--text-mutted) !important;
}

.custom-text-mutted-2 {
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  color: var(--text-mutted) !important;
}
